span, a, p {
    border: 1px solid black;
}

span {
    background-color: cadetblue;
}

p {
    background-color: burlywood;
}

a {
    background-color: crimson;
    color: black;
}

#lien2 {
    position: absolute;
    right: 0px;
}

#paragraphe1 {
    position: fixed;
    width: 300px;
    height: 200px;
    bottom: 0;
    left: 0;
    margin: 0;
}

#texte1 {
    float: right;
}

button {
    float: left;
}