body {
    font-size: 14pt;
}

h1 {
    font-size: 48pt;
    display: inline-block;
    margin: 0;
}

header {
    border: 5px solid black;
    margin: 30px;
    padding: 30px;
}

/*header form {
    position: absolute;
    right: 60px;
    top: 60px;
}*/

header form {
    display: inline-block;
    float: right;
}


main {
    margin: 0 250px 0 250px;
}

main p {
    text-align: justify;
    margin: 10px;
}



#loupe {
    width: 20px;
}

@media screen and (min-width: 1000px) {
    .shortP {
        width: 45%;
        display: inline-block;
    }
}


@media screen and (max-width: 900px) {
    h1 {
        display: block;
        font-size: 25pt;
        text-align: center;
    }

    header form {
        display: block;
        float: unset;
        text-align: center;
    }

    main {
        margin: 30px;
    }
}