@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

h1 {
    color: blue;
    text-decoration: underline;
    font-family: 'Ranchers', cursive;
}

.gris {
    color: grey;
}


form p:hover {
    background-color: grey;
}

form p:hover .gris {
    color:black;
}


ul {
    list-style-type: none;
}

form {
    width: 400px;
    margin: auto;
    margin-top: 200px;
}